/* init style.css */

/* Global styles */
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    color: #FBFBFE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Poppins;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

/* Navigation Bar Classes */
.navbar {
    width: 100%;
    background-color: #FBFBFE;
    overflow: hidden;
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 2px 2px 1px #BEBEC0;
    position: sticky;
}

/* Classes for Left Side Navigation Bar Items */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left a {
    color: #050414;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 18px;
}

.nav-left a.hover {
    background-color: #FBFBFE;
    color: black;
}

.nav-left a.active {
    background-color: #DBDBDB;
    color: white;
}

.nav-left img {
    float: left;
}

/* Classes for Right Side Navigation Bar Items */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    float: right;
    display: flex;
    align-items: center;
    padding: 12px 14px;
}

/* End of Navigation Bar Classes */

/* Button Classes */
.yellowButton {
    background-color: #FFEB31; /* Brand Yellow */
    border: none;
    color: #050414; /* Text Primary */
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: Poppins;
}

.yellowButton:hover {
    background-color: #F6B33E; /* Brand Yellow Secondary*/
    color: #050414; /* Text Primary */
}

.blueButton {
    background-color: #5271FF; /* Brand Yellow */
    border: none;
    color: #EFEFEF; /* Text Primary */
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: Poppins;
}

.blueButton:hover {
    background-color: #2C4DAF; /* Brand Yellow Secondary*/
    color: #EFEFEF; /* Text Primary */
}

.heroContainer {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 36px;
}

.heroContainerCOL {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    margin-bottom: 36px;
}

.heroGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerGroup {
    display: block;
    flex: 1;
    max-width: 600px;
    min-width: fit-content;
    text-align: left;
}

.heroGroup.center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: fit-content;
}

.heroBar {
    display: flex;
    width: 100%;
    justify-items: center;
    padding: 36px;
    box-sizing: border-box;
    justify-content: center;
}

.e404Hero {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 36px;
    align-items: center; 
    margin-top: 36px; 
    padding: 36px; 
    gap: 128px; 
    flex: 1;
}

.sponsorLogo {
    display: flex;
    background-color: #DBDBDB;
    max-width: 210px;
    flex-direction: row;
    overflow: hidden;
    margin: 0 10px;
}

.iconGrid {
    display: flex;
    gap: 16px;
    align-items: center;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.faqGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 1000px;
    word-wrap: break-word;
    margin-bottom: 16px;
    align-items: stretch;
}

.faqQuestion {
    display: flex;
    width: 300px;
    min-height: 1em;
}

.faqAnswer {
    display: flex;
    width: 700px;
    min-height: 1em;
}

.faqSeparator {
    width: 4px;
    height: 100%;
    background-color: #5271FF;
    margin: 0px 12px;
    border-radius: 2px;
    align-self: stretch;
}


/* Text Styles */

/* Headers */
.txHeaderBlack {
    color: var(--Text-Primary, #050414);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: bolder;
}

.txHeaderWhite {
    color: var(--Text-Primary, #EFEFEF);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: bolder;
}

/* Subtitles */
.txSubtitleBlack {
    color: var(--Text-Primary, #050414);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.txSubtitleWhite {
    color: var(--Text-Primary, #EFEFEF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

/* Paragraph Text */
.txParagraph1Black {
    color: var(--Text-Primary, #050414);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
}

.txParagraph1White {
    color: var(--Text-Primary, #EFEFEF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph2Black {
    color: var(--Text-Primary, #050414);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
    
}

.txParagraph2White {
    color: var(--Text-Primary, #EFEFEF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph3Black {
    color: var(--Text-Primary, #050414);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
    
}

.txParagraph3White {
    color: var(--Text-Primary, #EFEFEF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txExecProf {
    color: var(--Text-Primary, #050414);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.txColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Image and Image Border Classes */
.execPhotoBlue {
    width: 134px;
    height: auto;
    border-radius: 72px;
    border: 4px #5271FF solid;
}

.execPhotoYellow {
    width: 134px;
    height: auto;
    border-radius: 72px;
    border: 4px #FFEB31 solid;
}

.imageHero {
    border: 4px #5271FF solid;
    border-radius: 16px;
    max-width: 400px;
    height: auto;
}


/* Image Overlay Classes */
.image-container {
    position: relative;
    display: inline-block;
}

.bg-img {
    display: block;
    width: 100%;
    height: auto;
}

.top-img {
    width: 200px;
    height: auto;
    transition: transform 0.1s linear;
}

.gearWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* End Image Overlay Classes */

.icon {
    width: 32px;
    height: 32px;
}

.execProfileOLD {
    display: flex;
    flex: 1 1 0;
    align-items: flex-start;
    gap: 24px;
    justify-content: left;
    align-items: center;
    margin-bottom: 18px;
    min-width: 400px;
    max-width: 450px;
    flex-direction: row;
}

.execRow {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
}

.execProfile {
    display: flex;
    flex: 1 1 0;
    max-width: 50%;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}


.headingBorder{
    display: inline-block;
    border-bottom: 4px solid #5271FF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.subtitleBorder{
    display: inline-block;
    border-bottom: 3px solid #5271FF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.contactField{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 6px;
}

input,
.contactEntry {
    border: #2C4DAF 2px solid;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    align-items: start;
}

.sponsorGroup {
    display: block;
    flex: 1;
    padding: 16px;
}

.sponsorHighlightPlat {
    border:4px solid #5271FF;
    border-radius: 8px;
    width: 230px;
    height: auto;
    margin: 16px
}

.sponsorHighlightGold {
    border:4px solid #5271FF;
    border-radius: 8px;
    width: 200px;
    height: auto;
    margin: 16px
}

.sponsorHighlightSilv {
    border:4px solid #5271FF;
    border-radius: 8px;
    width: 180px;
    height: auto;
    margin: 16px
}

.eventColumn{
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: auto;
    gap: 32px;
}

.eventCard {
    display: flex;
    background-color: #5271FF;
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    align-items: center;
    padding: 16px;
}

.eventImg{
    display: block;
    flex: 1;
    border-color: #2C4DAF;
    border-width: 4px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

.eventDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eventInfo{
    display: block;
    flex: 2;
    padding: 16px;
    border-radius: 10px;
}

.pagination{
    display: inline-block;
    font-family: Poppins;
    font-size: 20px;
    margin: 32px;
}

.pagination a{
    color: #5271FF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color .3s;
}

.pagination a.active{
    background-color: #DBDBDB;
    color: #2C4DAF;
    border-radius: 8px;
}

.pagination a:hover:not(.active) {background-color: #DBDBDB;}

.txHistoryYear{
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: var(--Text-Primary, #050414);
}

.txHistoryName{
    font-family: Poppins;
    font-size: 16px;
    color: var(--Text-Primary, #050414);
    margin-bottom: 0px;
}

.txHistoryRole{
    font-family: Poppins;
    font-size: 14px;
    color: var(--Text-Secondary, #414141);
    margin-top: 0px;
    
}

.historyRow {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
}

.historyYearRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
}
.historyYearLabel {
    min-width: 100px;
    font-weight: bold;
    margin-right: 24px;
    align-items: center;
    text-align: center;
    margin-right: 0px;
}
.historyRolesRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.historyRoleCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.tab{
    overflow: hidden;
    background-color: #EFEFEF;
    border: none;
}

.tab button{
    background-color: inherit;
    cursor: pointer;
}

.tab button:hover{
    background-color: #DBDBDB;
}

.tab button.active{
    display: inline-block;
    border-bottom: 4px solid #5271FF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.tabContent{
    display: none;
}

.tabContent.active{
    display: block;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: absolute;
    top: 150px;
    right: 50px;
    padding: 20px;
    background: #5271FF;
    border-radius: 16px;
    width: 22.5%;
    transition: all 0.6s ease-in-out;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #EFEFEF;
}
.popup .close:hover {
    color: #5271FF;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 60%;
    }
    .popup{
        width: 60%;
    }
}