/* init style.css */

/* Global styles */
* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --Brand-blue-primary: #5271FF;
    --Brand-blue-secondary: #7186EB;
    --Brand-blue-tertiary: #2C4DAF;
    --Brand-yellow-tertiary: #F6B33E;
    --Brand-yellow-primary: #FFEB31;
    --Brand-yellow-secondary: #FFF16B;
    --Text-Black: #050414;
    --Text-Grey: #414141;
    --Text-White: #EFEFEF;

    /* Light Mode Variables */
    --L-Text-Primary: #050414;
    --L-Text-Secondary: #414141;
    --L-Text-InvertPrimary: #EFEFEF;
    --L-Text-InvertSecondary: #D0D0D0;
    --L-BG-Primary: #FBFBFE;
    --L-BG-Secondary: #dddddd;
    --L-Border-Blue: #5271FF;
    --L-Border-Yellow: #FFEB31;

    /* Dark Mode Variables */
    --D-Text-Primary: #EFEFEF;
    --D-Text-Secondary: #D0D0D0;
    --D-Text-InvertPrimary: #050414;
    --D-Text-InvertSecondary: #414141;
    --D-BG-Primary: #1C1B22;
    --D-BG-Secondary: #2B2A33;
    --D-Border-Blue: #2C4DAF;
    --D-Border-Yellow: #F4E134;
}

html.lightTheme {
    --Text-Primary: var(--L-Text-Primary);
    --Text-Secondary: var(--L-Text-Secondary);
    --Text-InvertPrimary: var(--L-Text-InvertPrimary);
    --Text-InvertSecondary: var(--L-Text-InvertSecondary);
    --BG-Primary: var(--L-BG-Primary);
    --BG-Secondary: var(--L-BG-Secondary);
    --Border-Blue: var(--L-Border-Blue);
    --Border-Yellow: var(--L-Border-Yellow);
}

html.darkTheme {
    --Text-Primary: var(--D-Text-Primary);
    --Text-Secondary: var(--D-Text-Secondary);
    --Text-InvertPrimary: var(--D-Text-InvertPrimary);
    --Text-InvertSecondary: var(--D-Text-InvertSecondary);
    --BG-Primary: var(--D-BG-Primary);
    --BG-Secondary: var(--D-BG-Secondary);
    --Border-Blue: var(--D-Border-Blue);
    --Border-Yellow: var(--D-Border-Yellow);
}

body {
    margin: 0;
    background-color: var(--BG-Primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color-scheme: light;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    gap: 50px;
}

/* Navigation Bar Classes */
.navbar {
    width: 100%;
    background-color: var(--BG-Primary);
    overflow: hidden;
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 2px 2px 1px var(--BG-Secondary);
    position: sticky;
    top: 0px;
    z-index: 10;
}

/* Classes for Left Side Navigation Bar Items */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left a {
    display: block;
    color: var(--Text-Primary);
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 18px;
}

.nav-left a.hover {
    background-color: var(--BG-Primary);
    color: var(--Text-Black);
}

.nav-left a.active {
    background-color:  var(--BG-Secondary);
    color: var(--Text-White);
}

.nav-left img {
    float: left;
}

/* Classes for Right Side Navigation Bar Items */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    float: right;
    display: flex;
    align-items: center;
    padding: 12px 14px;
}

/* End of Navigation Bar Classes */

/* Button Classes */
.yellowButton {
    background-color: var(--Brand-yellow-primary); /* Brand Yellow */
    border: none;
    color: var(--Text-Black); /* Text Primary */
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: Poppins;
}

.yellowButton:hover {
    background-color: var(--Brand-yellow-tertiary); /* Brand Yellow Secondary*/
    color: var(--Text-Black); /* Text Primary */
}

.blueButton {
    background-color: var(--Brand-blue-primary); /* Brand Yellow */
    border: none;
    color: var(--Text-White); /* Text Primary */
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: Poppins;
}

.blueButton:hover {
    background-color: var(--Brand-blue-primary); /* Brand Yellow Secondary*/
    color: var(--Text-White); /* Text Primary */
}

.heroContainer {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-bottom: 24px;
    width: 70%;
}

.heroContainerCOL {
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    margin-bottom: 36px;
}

.heroGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerGroup {
    display: block;
    flex: 1;
    max-width: 600px;
    min-width: fit-content;
    text-align: left;
}

.heroGroup.center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: fit-content;
}

.heroBar {
    display: flex;
    width: 100%;
    justify-items: center;
    padding: 36px;
    box-sizing: border-box;
    justify-content: center;
}

.e404Hero {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-bottom: 36px;
    align-items: center; 
    margin-top: 36px; 
    padding: 36px; 
    flex: 1;
}

.sponsorLogo {
    display: flex;
    background-color: var(--BG-Secondary);
    max-width: 150px;
    flex-direction: row;
    overflow: hidden;
    margin: 0 10px;
}

.iconGrid {
    display: flex;
    gap: 16px;
    align-items: center;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.faqGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 1000px;
    word-wrap: break-word;
    margin-bottom: 16px;
    align-items: stretch;
}

.faqQuestion {
    display: flex;
    width: 300px;
    min-height: 1em;
    text-align: right;
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faqAnswer {
    display: flex;
    width: 700px;
    min-height: 1em;
    text-align: left;
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.faqSeparator {
    width: 4px;
    min-height: 100%;
    background-color: var(--Brand-blue-primary);
    margin: 14px 10px;
    border-radius: 2px;
    align-self: stretch;
}


/* Text Styles */

/* Headers */
.txHeaderBlack {
    color: var(--Text-Black);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: bolder;
}

.txHeaderWhite {
    color: var(--Text-White);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: bolder;
}

.txHeader{
    color: var(--Text-Primary);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: bolder;
}

/* Subtitles */
.txSubtitleBlack {
    color: var(--Text-Black);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.txSubtitleWhite {
    color: var(--Text-White);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.txSubtitle {
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

/* Paragraph Text */
.txParagraph1Black {
    color: var(--Text-Black);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 400px;
}

.txParagraph1White {
    color: var(--Text-White);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph1 {
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph2Black {
    color: var(--Text-Black);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
    
}

.txParagraph2White {
    color: var(--Text-White);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph2 {
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph3Black {
    color: var(--Text-Black);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
    
}

.txParagraph3White {
    color: var(--Text-White);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txParagraph3 {
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    max-width: 400px;
}

.txExecProf {
    color: var(--Text-Primary);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 500px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.txColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Image and Image Border Classes */
.execPhotoBlue {
    width: 120px;
    height: auto;
    border-radius: 72px;
    border: 4px var(--Brand-blue-primary) solid;
}

.execPhotoYellow {
    width: 120px;
    height: auto;
    border-radius: 72px;
    border: 4px var(--Brand-yellow-primary) solid;
}

.imageHero {
    border: 4px var(--Brand-blue-primary) solid;
    border-radius: 16px;
    max-width: 400px;
    height: auto;
}


/* Image Overlay Classes */
.image-container {
    position: relative;
    display: inline-block;
}

.bg-img {
    display: block;
    width: 100%;
    height: auto;
}

.top-img {
    width: 200px;
    height: auto;
    /* transition: transform 0.1s linear; */
    z-index: 1;
}

.gearWrapper {
    position: absolute;
    top: 40%;
    left: 45%;
    /* transform: translate(-50%, -50%); */
    /* animation: rotateGear 5s linear infinite; */
}

@keyframes rotateGear {
    100% {
        transform: rotate(360deg);
    }
}

/* End Image Overlay Classes */

.icon {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.execProfileOLD {
    display: flex;
    flex: 1 1 0;
    align-items: flex-start;
    gap: 24px;
    justify-content: left;
    align-items: center;
    margin-bottom: 18px;
    min-width: 370px;
    max-width: 400px;
    flex-direction: row;
}

.execRow {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
}

.execProfile {
    display: flex;
    flex: 1 1 0;
    max-width: 50%;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}


.headingBorder{
    display: inline-block;
    border-bottom: 4px var(--Border-Blue) solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.subtitleBorder{
    display: inline-block;
    border-bottom: 3px var(--Border-Blue) solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.contactField{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 6px;
}

input,
.contactEntry {
    border: var(--Brand-blue-tertiary) 2px solid;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    align-items: start;
}

.sponsorGroup {
    display: flex;
    flex: 1;
    padding: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsorHighlightPlat {
    border: 4px solid var(--Brand-blue-primary);
    border-radius: 8px;
    width: 230px;
    height: auto;
    margin: 16px;
    background-color: var(--BG-Secondary);
}

.sponsorHighlightGold {
    border: 4px solid var(--Brand-blue-primary);
    border-radius: 8px;
    width: 200px;
    height: auto;
    margin: 16px;
    background-color: var(--BG-Secondary);
}

.sponsorHighlightSilv {
    border: 4px solid var(--Brand-blue-primary);
    border-radius: 8px;
    width: 180px;
    height: auto;
    margin: 16px;
    background-color: var(--BG-Secondary);
}

.sponsorHighlightOthe {
    border: 4px solid var(--Brand-blue-primary);
    border-radius: 8px;
    width: 160px;
    height: auto;
    margin: 16px;
    background-color: var(--BG-Secondary);
}

.eventColumn{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
}

.eventCard {
    display: flex;
    background-color: var(--Brand-blue-primary);
    border-radius: 12px;
    max-height: 300px;
    align-items: center;
    padding: 16px;
    overflow: hidden;
}

.eventImg{
    display: block;
    flex: 1;
    border-color: var(--Brand-blue-tertiary);
    border-width: 4px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.eventDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.eventInfo{
    display: block;
    flex: 2;
    padding-left: 16px;
    height: 100%;
}

.pagination{
    display: inline-block;
    font-family: Poppins;
    font-size: 20px;
    margin: 32px;
}

.pagination a{
    color: var(--Brand-blue-primary);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color .3s;
}

.pagination a.active{
    background-color: var(--Text-InvertPrimary);
    color: var(--Brand-blue-tertiary);
    border-radius: 8px;
}

.pagination a:hover:not(.active) {background-color: var(--Text-InvertSecondary);}

.txHistoryYear{
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: var(--Text-Primary);;
}

.txHistoryName{
    font-family: Poppins;
    font-size: 16px;
    color: var(--Text-Primary);
    margin-bottom: 0px;
}

.txHistoryRole{
    font-family: Poppins;
    font-size: 14px;
    color: var(--Text-Secondary);
    margin-top: 0px;
    
}

.historyRow {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
}

.historyYearRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
}
.historyYearLabel {
    min-width: 100px;
    font-weight: bold;
    margin-right: 24px;
    align-items: center;
    text-align: center;
    margin-right: 0px;
}
.historyRolesRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.historyRoleCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.tab{
    overflow: hidden;
    background-color: var(--Text-InvertPrimary);
    border: none;
}

.tab button{
    background-color: inherit;
    cursor: pointer;
}

.tab button:hover{
    background-color: var(--Text-InvertPrimary);
}

.tab button.active{
    display: inline-block;
    border-bottom: 4px solid var(--Brand-blue-primary);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.tabContent{
    display: none;
}

.tabContent.active{
    display: block;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: fixed;
    top: 150px;
    right: 50px;
    padding: 20px;
    background: var(--Brand-blue-primary);
    border-radius: 16px;
    width: 22.5%;
    transition: all 0.6s ease-in-out;
    z-index: 9;
}

.popupLocation{
    position: fixed;
    top: 150px;
    right: 10px;
    padding: 5px 15px;
    border-radius: 50%;
    width: auto;
}

.popup .close {
    position: fixed;
    top: 160px;
    right: 66px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--L-Text-InvertPrimary);
    background-color: transparent;
    border: none;
}
.popup .close:hover {
    color: var(--L-Text-InvertSecondary);
}

/* @media screen and (max-width: 700px){
    .box{
        width: 60%;
    }
    .popup{
        width: 60%;
    }
} */


/* Sponsor Carousel Styles */

.sponsorCarousel{
    height: 150px;
    position: relative;
    overflow: hidden;
    background-color: var(--BG-Secondary);
}

.sponsorBar {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    max-height: 150px;
    display: flex;
    width: max-content;
    white-space: nowrap;
    animation: bannermove 30s linear infinite;
}

.sponsorBar img {
    margin: 0 10px;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.clubHistoryContainer{
    display: flex;
    width: 100%;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 32px;
    justify-content: end;
}

.clubHistoryYear{
    border-color: var(--Brand-blue-tertiary);
    border-radius: 4px;
    border-width: 2px;
    font-size: 20px;
    color: var(--Text-Secondary);
    background-color: var(--BG-Secondary);
    width: fit-content;
    padding: 8px 16px;
    font-family: Poppins;
    height: fit-content;
    text-align: center;
}

.clubHistoryEntry{
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 16px;
    align-items: center;
    min-height: 100%;
}

.clubHistoryEntry .eventCard{
    flex: 1 1 auto;
    width: auto;
}

.clubHistoryLabel{
    width: 10%;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clubHistorySeparator{
    width: 4px;
    height: 100%;
    background-color: var(--Brand-blue-primary);
    border-radius: 2px;
    min-height: 60px;
    margin: 0;
    align-self: center;
}

.wipLabel{
    font-family: Poppins;
    font-size: 12px;
    color: var(--Text-White);
    background-color: var(--Brand-blue-primary);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

.linkGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    row-gap: 12px;
    column-gap: 12px;
}

.linkGrid > :nth-child(1){grid-column: 1 / span 1;}
.linkGrid > :nth-child(2){grid-column: 2 / span 2;}
.linkGrid > :nth-child(3){grid-column: 4 /span 4;}

.linkGrid > :nth-child(4){
    grid-column: 1 / span 2;
}
.linkGrid > :nth-child(5){
    grid-column: 3 / span 5;
}

.linkItem{
    border: 4px var(--Border-Blue);
    border-radius: 8px;
    background-color: var(--BG-Secondary);
    position: relative;
    max-height: 250px;
    overflow: hidden;
}

.linkItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkLabel{
    font-family: Poppins;
    font-size: 22px;
    color: var(--Text-White);
    position: absolute;
    bottom: 8px;
    left: 12px;
    background-color: rgb(43 42 51 / 0.3);
    border-radius: 8px;
    padding: 4px 8px;
}